.wheel-container {
  position: absolute;
  left: calc(70% - 100px);
  top: 45%;
  transform: translateY(-50%);
  width: 20vw;
  height: 20vw;
  z-index: 0;
}

@media (max-width: 768px) {
  .wheel-container {
    left: 65%;
    top: 24%;
    transform: translate(-50%, 0);
    width: min(200px, 37vw);
    height: min(200px, 37vw);
  }
}
